amqp==5.0.0a1
asn1crypto==0.24.0
billiard==3.6.1.0
celery==4.4.0rc3
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
coverage==5.0a6
cryptography==2.7
Django==2.2.28
django-auth==0.1.9
entrypoints==0.3
httplib2==0.18.1
idna==2.8
importlib-metadata==0.19
jeepney==0.4.1
keyring==19.0.2
keyrings.alt==3.1.1
kombu==4.6.4
mysqlclient==1.4.4
pyasn1==0.4.6
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0
pygobject==3.22.0
PySimpleSOAP==1.16.2
python-apt==1.4.0b3
python-debian==0.1.35
python-debianbts==2.8.2
pytz==2019.2
pyxdg==0.26
redis==3.3.8
reportbug==7.1.7
requests==2.22.0
SecretStorage==3.1.1
selenium==4.0.0a1
six==1.12.0
sqlparse==0.3.0
urllib3==1.25.3
vine==5.0.0a1
zipp==0.5.2
