{% extends 'pay/base_site.html' %}

{% block body %}
    <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Tenant</th>
                  <th>Accont</th>
                    <th>Actions</th>
                </tr>
              </thead>
              <tbody>
              {% if perms.pay %}
              {% for accs in acconts %}
                  <tr>
                    <td>{{ accs.pk }}</td>
                    <td>{{ accs.tenant }}</td>
                    <td>{{ accs.account }}</td>
                    <td>
                        <a href="{% url 'accountactionsdetail' accs.pk %}" class="badge badge-primary">Set</a>
                        <a href="#" class="badge badge-danger">Remove</a>
                    </td>
                  </tr>
              {% endfor %}
              {% endif %}
              </tbody>
            </table>
          </div>
{% endblock %}