{% extends 'pay/base_site.html' %}

{% block body %}

 <div class="row">
    <div class="col-md-8 order-md-1">
          <h4 class="mb-3">Supplier Query</h4>
          <form class="needs-validation" novalidate action="{% url 'supplierquery' %}" method="post">
              {% csrf_token %}
            <div class="row">

              <div class="col-md-6 mb-3">
                <label for="Tenant">Tenant</label>
                {{ form.tenant }}
                <div class="invalid-feedback">
                  Valid Tenant is required.
                </div>
              </div>

              <div class="col-md-6 mb-3">
                <label for="Account">Category</label>
                {{ form.id }}
                <div class="invalid-feedback">
                  Valid category is required.
                </div>
              </div>

              <div class="col-md-6 mb-3">
                 <label for="Balanceuuid">Subject</label>
                  {{ form.context}}
                 <div class="invalid-feedback">
                   Valid subject is required
                 </div>
              </div>

                <div class="col-md-6 mb-3">
                    <label for="balanceid">Answertime</label>
                    {{ form.time }}
                    <div class="invalid-feedback">
                        Valid answertime is required
                    </div>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="BalanceType">Event</label>
                    {{ form.event }}
                    <div class="invalid-feedback">
                        Valid destination is required
                    </div>
                </div>
              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Query</button>
            </div>
          </form>
        </div>
 </div>
{% endblock %}